<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="systemWatcher"
             type="SystemWatcherSolution.Models.Configuration.SystemWatcherConfigurationSection, SystemWatcherSolution" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <systemWatcher>
    <cultureInfo name="en-US" />
    <watchedDirectories>
      <add path="C:\Temp\A" />
      <add path="C:\Temp\B" />
    </watchedDirectories>
    <rules defaultDirectoryPath="C:\Temp\Default">
      <add name="Only text files" regex="^.+\.txt$" targetDirectoryPath="C:\Temp\A\Move here" isOrderNumberRequired="true" isMovedDateRequired="false" />
      <add name="Contains b char in name" regex="b+" targetDirectoryPath="C:\Temp\B\Move here" isOrderNumberRequired="false" isMovedDateRequired="true" />
    </rules>
  </systemWatcher>
  
</configuration>