<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="systemWatcher"
             type="SystemWatcherSolution.Models.Configuration.SystemWatcherConfigurationSection, SystemWatcherSolution" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <systemWatcher>
    <cultureInfo name="en-US" />
    <watchedDirectories>
      <add path="S:\Projects\Mentoring Check\First" />
      <add path="S:\Projects\Mentoring Check\Second" />
    </watchedDirectories>
    <rules defaultDirectoryPath="S:\Projects\Mentoring Check\Default">
      <add name="Only text files" regex="^.+\.txt$" targetDirectoryPath="S:\Projects\Mentoring Check\First Matched" isOrderNumberRequired="true" isMovedTimeRequired="true" />
      <add name="Contains b char in name" regex="b+" targetDirectoryPath="S:\Projects\Mentoring Check\Second Matched" isOrderNumberRequired="false" isMovedTimeRequired="true" />
    </rules>
  </systemWatcher>
  
</configuration>